// ================ COPYRIGHT AND INCLUDES ================== {{{1
// Copyright (c) 2022 Bennett Helm
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

// }}}
// ======================= SHORTHANDS ======================= {{{1
// These are shorthand references to keep things simple and tidy in the keymap
// below.

// Layer Names: Default, Numbers, Functions, GUI/Misc
#define DEF 0
#define NUM 1
#define NLK 2
#define FUN 3
#define FLK 4
#define GMC 5
#define GLK 6
#define MAC 7

// Combo timeout speeds (in ms). Note: must be enclosed in <>!
#define COMBO_SLOW <40>
// FIXME: Below should be 30, but having it be the same as
// COMBO_SLOW to try to avoid MOD_TAPS getting stuck.
// See <https://github.com/zmkfirmware/zmk/issues/986>
// That should be fixed now: <https://github.com/zmkfirmware/zmk/commit/fc511e40cc1a274473a753c959f8d7e5fcc317d0>
#define COMBO_FAST <30>

// WINxxxx defines are for shortcuts with Rectangle.app to manipulate windows
#define WIN_PRV     &kp LG(LS(GRAVE))
#define WIN_NXT     &kp LG(GRAVE)
/* #define WIN_BIG &kp LC(LA(LG(RIGHT))) */
/* #define A_WIN_SML   &ms RIGHT_ALT LC(LA(LG(LEFT))) */
/* #define CD_WIN3LFT  &ms RIGHT_GUI LC(LA(LEFT)) */
/* #define CL_WIN3RGT  &ms RIGHT_CONTROL LC(LA(RIGHT)) */
/* #define WIN_LFT &kp LA(LG(LEFT)) */
/* #define WIN_CNT &kp LC(LG(LA(C))) */
/* #define WIN_RGT &kp LA(LG(RIGHT)) */
#define WIN_BIG     &kp LC(LA(EQUAL))
#define A_WIN_SML   &kp LC(LA(MINUS))
#define CD_WIN3LFT  &kp LC(LA(D))
#define CL_WIN3RGT  &kp LC(LA(G))
#define WIN_LFT     &kp LC(LA(LEFT))
#define WIN_CNT     &kp LC(LA(C))
#define WIN_RGT     &kp LC(LA(RIGHT))

// }}}

// ===================== OTHER SETTINGS ===================== {{{1
// Set options for layer-tap behavior
&lt {
    tapping-term-ms = <220>;
    // 200: getting some <spaces> *after* subsequently hit keys.
    // 150 was too quick: failed to get <spaces> when desired
    // 175: getting some missed taps, as well as some arrow keys instead of space-char
    // 250 was pretty wonky: getting too many taps when trying to hold
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
};
// }}}

/ {
// =================== BEHAVIORS/TAPDANCE =================== {{{1
    behaviors {
        lhf: homewrow_mods_fast_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <185>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            /* flavor = "retro-tap"; */
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 24 25 26 27 30 31>;
        };
        rhf: homewrow_mods_fast_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <185>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            /* flavor = "retro-tap"; */
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 28 29>;
        };
        lhm: homewrow_mods_medium_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <210>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            /* flavor = "retro-tap"; */
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 24 25 26 27 30 31>;
        };
        rhm: homewrow_mods_medium_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <210>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            /* flavor = "retro-tap"; */
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 28 29>;
        };
        lhs: homewrow_mods_slow_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <240>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            /* flavor = "retro-tap"; */
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 24 25 26 27 30 31>;
        };
        rhs: homewrow_mods_slow_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <240>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            /* flavor = "retro-tap"; */
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 28 29>;
        };
        /* lht: left_positional_hold_tap {  // hold left hand key, only apply mod to keys on right */
        /*     compatible = "zmk,behavior-hold-tap"; */
        /*     #binding-cells = <2>; */
        /*     flavor = "hold-preferred"; */
        /*     tapping-term-ms = <400>; */
        /*     quick-tap-ms = <200>; */
        /*     bindings = <&kp>, <&kp>; */
        /*     hold-trigger-key-positions = <5>, <6>, <7>, <8>, <9>, <15>, <16>, <17>, <18>, <19>, <24>, <25>, <26>, <27>, <30>, <31>; */
        /* }; */
        /* rht: right_positional_hold_tap {  // hold right hand key, only apply mod to keys on left */
        /*     compatible = "zmk,behavior-hold-tap"; */
        /*     #binding-cells = <2>; */
        /*     flavor = "hold-preferred"; */
        /*     tapping-term-ms = <400>; */
        /*     quick-tap-ms = <200>; */
        /*     bindings = <&kp>, <&kp>; */
        /*     hold-trigger-key-positions = <0>, <1>, <2>, <3>, <4>, <10>, <11>, <12>, <13>, <14>, <20>, <21>, <22>, <23>, <28>, <29>; */
        /* }; */
        tdName: tdName {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <250>;
            #binding-cells = <0>;
            bindings = <&firstname>, <&lastname>, <&fullname>;
        };
        tdTexTab: tdTexTab {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <250>;
            #binding-cells = <0>;
            bindings = <&tabedit>, <&texfile>;
        };
        tdEmphEmail: tdEmphEmail {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <250>;
            #binding-cells = <0>;
            bindings = <&kp LA(J)>, <&email>;
        };
        tdCapDance: tdCapDance {
            compatible = "zmk,behavior-tap-dance";
            tapping-term-ms = <300>;
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp CAPS>;
        };
    };  // }}}

// ========================= COMBOS ========================= {{{1
    combos {
        compatible = "zmk,combos";
        combo_plus {
            timeout-ms = COMBO_SLOW;
            key-positions = <6 7 8>;
            bindings = <&kp PLUS>;
            layers = <DEF NUM NLK>;
        };
        combo_minus {
            timeout-ms = COMBO_SLOW;
            key-positions = <16 17 18>;
            bindings = <&kp MINUS>;
            layers = <DEF NUM NLK>;
        };
        combo_underscore {
            timeout-ms = COMBO_SLOW;
            key-positions = <25 26 27>;
            bindings = <&kp UNDERSCORE>;
            layers = <DEF NUM NLK>;
        };
        combo_question {
            timeout-ms = COMBO_SLOW;
            key-positions = <1 2>;
            bindings = <&kp QUESTION>;
            layers = <DEF NUM NLK>;
        };
        combo_slash {
            timeout-ms = COMBO_SLOW;
            key-positions = <2 3>;
            bindings = <&kp SLASH>;
            layers = <DEF NUM NLK>;
        };
        combo_lbrace {
            timeout-ms = COMBO_SLOW;
            key-positions = <1 11>;
            bindings = <&kp LEFT_BRACE>;
            layers = <DEF NUM NLK>;
        };
        combo_esc {
            timeout-ms = COMBO_SLOW;
            key-positions = <2 12>;
            bindings = <&kp ESC>;
            layers = <DEF NUM NLK FUN FLK>;
        };
        combo_backslash {
            timeout-ms = COMBO_SLOW;
            key-positions = <13 14>;
            bindings = <&kp BACKSLASH>;
            layers = <DEF NUM NLK>;
        };
        combo_pipe {
            timeout-ms = COMBO_SLOW;
            key-positions = <15 16>;
            bindings = <&kp PIPE>;
            layers = <DEF NUM NLK>;
        };
        combo_asterisk {
            timeout-ms = COMBO_SLOW;
            key-positions = <3 13>;
            bindings = <&kp ASTRK>;
            layers = <DEF NUM NLK>;
        };
        combo_doublequote {
            timeout-ms = COMBO_SLOW;
            key-positions = <6 16>;
            bindings = <&kp DQT>;
            layers = <DEF NUM NLK>;
        };
        combo_quoteword {
            timeout-ms = COMBO_SLOW;
            key-positions = <6 16>;
            bindings = <&kp LA(LEFT_BRACKET)>;
            layers = <MAC>;
        };
        combo_equal {
            timeout-ms = COMBO_FAST;
            key-positions = <7 8>;
            bindings = <&kp EQUAL>;
            layers = <DEF NUM NLK>;
        };
        combo_return {
            timeout-ms = COMBO_SLOW;
            key-positions = <7 17>;
            bindings = <&kp ENTER>;
            layers = <DEF NUM NLK FUN FLK GMC GLK>;
        };
        combo_rbrace {
            timeout-ms = COMBO_SLOW;
            key-positions = <8 18>;
            bindings = <&kp RIGHT_BRACE>;
            layers = <DEF NUM NLK>;
        };
        combo_lbracket {
            timeout-ms = COMBO_SLOW;
            key-positions = <11 20>;
            bindings = <&kp LEFT_BRACKET>;
            layers = <DEF NUM NLK>;
        };
        combo_tab {
            timeout-ms = COMBO_SLOW;
            key-positions = <12 21>;
            bindings = <&kp TAB>;
            layers = <DEF NUM NLK>;
        };
        combo_lparen {
            timeout-ms = COMBO_SLOW;
            key-positions = <13 22>;
            bindings = <&kp LPAR>;
            layers = <DEF NUM NLK>;
        };
        combo_question2 {
            timeout-ms = COMBO_SLOW;
            key-positions = <6 7>;
            bindings = <&kp QUESTION>;
            layers = <DEF NUM NLK>;
        };
        combo_rparen {
            timeout-ms = COMBO_SLOW;
            key-positions = <16 25>;
            bindings = <&kp RPAR>;
            layers = <DEF NUM NLK>;
        };
        combo_parenword {
            timeout-ms = COMBO_SLOW;
            key-positions = <16 25>;
            bindings = <&kp LA(RIGHT_BRACKET)>;
            layers = <MAC>;
        };
        combo_colon {
            timeout-ms = COMBO_SLOW;
            key-positions = <17 26>;
            bindings = <&kp COLON>;
            layers = <DEF NUM NLK>;
        };
        combo_rbracket {
            timeout-ms = COMBO_SLOW;
            key-positions = <18 27>;
            bindings = <&kp RIGHT_BRACKET>;
            layers = <DEF NUM NLK>;
        };
        /* combo_capslock { */
        /*     timeout-ms = COMBO_SLOW; */
        /*     key-positions = <10 19>; */
        /*     bindings = <&kp CAPS>; */
        /*     layers = <DEF>; */
        /* }; */
        combo_Z {
            timeout-ms = COMBO_FAST;
            key-positions = <26 27>;
            bindings = <&kp Z>;
            layers = <DEF>;
        };
        combo_exclamation {
            timeout-ms = COMBO_FAST;
            key-positions = <20 21>;
            bindings = <&kp EXCLAMATION>;
            layers = <DEF NUM NLK>;
        };
        combo_at {
            timeout-ms = COMBO_FAST;
            key-positions = <20 21 22>;
            bindings = <&kp AT>;
            layers = <DEF NUM NLK>;
        };
        combo_hash {
            timeout-ms = COMBO_FAST;
            key-positions = <21 22>;
            bindings = <&kp HASH>;
            layers = <DEF NUM NLK>;
        };
        combo_toDEFLayer {
            timeout-ms = COMBO_SLOW;
            key-positions = <30 31>;
            bindings = <&to DEF>;
            layers = <DEF NUM NLK FUN FLK GMC GLK>;
        };
        combo_numLock {
            timeout-ms = COMBO_SLOW;
            key-positions = <0 10>;
            bindings = <&tog NLK>;
            layers = <NUM NLK>;
        };
        combo_funLock {
            timeout-ms = COMBO_SLOW;
            key-positions = <0 10>;
            bindings = <&tog FLK>;
            layers = <FUN FLK>;
        };
        combo_GMCLock {
            timeout-ms = COMBO_SLOW;
            key-positions = <0 10>;
            bindings = <&tog GLK>;
            layers = <GMC GLK>;
        };
        combo_BTclr {
            timeout-ms = COMBO_FAST;
            key-positions = <1 11>;
            bindings = <&bt BT_CLR>;
            layers = <GMC GLK>;
        };
        combo_MCLK {
            timeout-ms = COMBO_FAST;
            key-positions = <28 29>;
            bindings = <&mkp MCLK>;
            layers = <GMC GLK>;
        };
        combo_capDance {
            timeout-ms = <75>;
            key-positions = <28 29>;
            bindings = <&tdCapDance>;
            layers = <DEF>;
        };
        /* combo_BT3 { */
        /*     timeout-ms = COMBO_FAST; */
        /*     key-positions = <9 19>; */
        /*     bindings = <&bt BT_SEL 2>; */
        /*     layers = <GMC GLK>; */
        /* }; */
    };  // }}}

// ========================= MACROS ========================= {{{1
// Docs say `wait-ms` and `tap-ms` should be at least 30 to avoid
// out-of-order keystrokes.
    macros {
        ZMK_MACRO(firstname,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp B>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp E &kp N &kp N &kp E &kp T &kp T>
                ;
        )
        ZMK_MACRO(lastname,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp H>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp E &kp L &kp M>
                ;
        )
        ZMK_MACRO(fullname,
            wait-ms = <15>;
            tap-ms = <5>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp B>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp E &kp N &kp N &kp E &kp T &kp T &kp SPACE>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp H>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp E &kp L &kp M>
                ;
        )
        ZMK_MACRO(email,
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp B &kp E &kp N &kp N &kp E &kp T &kp T>
                , <&macro_wait_time 15>
                , <&macro_tap &kp DOT &kp H &kp E &kp L &kp M &kp AT &kp F &kp A &kp N &kp D &kp M>
                , <&macro_wait_time 15>
                , <&macro_tap &kp DOT &kp E &kp D &kp U>
                ;
        )
        ZMK_MACRO(tabedit,
            wait-ms = <50>;
            tap-ms = <5>;
            bindings
                = <&macro_tap &kp ESC &kp COLON>
                , <&macro_wait_time 10>
                , <&macro_tap &kp T &kp A &kp B &kp E &kp RETURN>
                ;
        )
        ZMK_MACRO(texfile,
            wait-ms = <50>;
            tap-ms = <5>;
            bindings
                = <&macro_tap &kp COLON>
                , <&macro_wait_time 10>
                , <&macro_tap &kp T &kp E &kp X &kp RETURN>
                ;
        )
        ZMK_MACRO(texclean,
            wait-ms = <50>;
            tap-ms = <5>;
            bindings
                = <&macro_tap &kp COLON>
                , <&macro_wait_time 10>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp T>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp E &kp X>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp C>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp L &kp E &kp A &kp N &kp RETURN>
                ;
        )
        ZMK_MACRO(enew,
            wait-ms = <50>;
            tap-ms = <5>;
            bindings
                = <&macro_tap &kp COLON>
                , <&macro_wait_time 10>
                , <&macro_tap &kp E &kp N &kp E &kp W &kp RETURN>
                ;
        )
};  // }}}

// ======================== KEYMAPS ========================= {{{1
    keymap {
        compatible = "zmk,keymap";
// ---------------------------------------------------- DVORAK -------------------------------------------------- {{{2
        default {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp SQT    &kp COMMA  &kp DOT    &kp P      &kp Y         &kp F      &kp G      &kp C      &kp R      &kp L
// ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &lhf LSHFT A &lhf LCTRL O &lhm LALT E &lhs LGUI U &kp I   &kp D      &rhs RGUI H &rhm RALT T &rhm RCTRL N &rhf RSHFT S
// ╰──────────┴──────────┴──────────┴──────────┴──────────┤  ├──────────┴──────────┴──────────┴──────────┴──────────╯
               &kp Q      &kp J      &kp K      &kp X         &kp B      &kp M      &kp W      &kp V
//            ╰──────────┴──────┬───┴────────┬─┴──────────┤  ├──────────┴──┬───────┴────┬─────┴──────────╯
                                 &lt MAC SEMI &lt NUM BSPC    &lt FUN SPACE &lt GMC FSLH
//                              ╰────────────┴────────────╯  ╰─────────────┴────────────╯
            >;
      };  // }}}
//  ---------------------------------------------------- NUMBERS ------------------------------------------------ {{{2
        numbers {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp TAB    &kp AMPS   &kp ASTRK  &kp LA(N6) &kp GRAVE     &none      &kp N7     &kp N8     &kp N9     &kp EQUAL
// ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &lhs LSHFT TILDE &lhs LCTRL DLLR &lhs LALT PRCNT &lhs LGUI CARET &kp COMMA   &kp DOT &rhs RGUI N4 &rhs RALT N5 &rhs RCTRL N6 &rhs RSHFT MINUS
// ╰──────────┴──────────┴──────────┴──────────┴──────────┤  ├──────────┴──────────┴──────────┴──────────┴──────────╯
               &kp EXCL   &kp AT     &kp HASH   &kp LA(K)     &kp N0     &kp N1     &kp N2     &kp N3
//            ╰──────────┴──────┬───┴────────┬─┴──────────┤  ├──────────┴──┬───────┴────┬─────┴──────────╯
                                 &trans       &trans          &trans        &kp BSLH
//                              ╰────────────┴────────────╯  ╰─────────────┴────────────╯
            >;
      };  // }}}
//  ------------------------------------------------- NUMBERS LOCK ---------------------------------------------- {{{2
// NOTE: This is exactly the same as NUMBERS
        numbers_lock {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp TAB    &kp AMPS   &kp ASTRK  &kp LA(N6) &kp GRAVE     &none      &kp N7     &kp N8     &kp N9     &kp EQUAL
// ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &lhs LSHFT TILDE &lhs LCTRL DLLR &lhs LALT PRCNT &lhs LGUI CARET &kp COMMA   &kp DOT &rhs RGUI N4 &rhs RALT N5 &rhs RCTRL N6 &rhs RSHFT MINUS
// ╰──────────┴──────────┴──────────┴──────────┴──────────┤  ├──────────┴──────────┴──────────┴──────────┴──────────╯
               &kp EXCL   &kp AT     &kp HASH   &kp LA(K)     &kp N0     &kp N1     &kp N2     &kp N3
//            ╰──────────┴──────┬───┴────────┬─┴──────────┤  ├──────────┴──┬───────┴────┬─────┴──────────╯
                                 &trans       &trans          &trans        &kp BSLH
//                              ╰────────────┴────────────╯  ╰─────────────┴────────────╯
            >;
      };  // }}}
// --------------------------------------------------- FUNCTIONS ------------------------------------------------ {{{2
        functions {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp TAB    &kp F7     &kp F8     &kp F9     &kp F12      &kp C_VOL_UP &kp HOME  &kp UP     &kp PG_UP &kp C_BRI_UP
// ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp LSHFT &lhs LCTRL F4 &lhs LALT F5 &lhs LGUI F6 &kp F11 &kp C_VOL_DN &rhs RGUI LEFT &rhs RALT DOWN &rhs RCTRL RIGHT &rhs RSHFT C_BRI_DN
// ╰──────────┴──────────┴──────────┴──────────┴──────────┤  ├──────────┴──────────┴──────────┴──────────┴──────────╯
               &kp F1     &kp F2     &kp F3     &kp F10       &kp C_MUTE &kp END    &none      &kp PG_DN
//            ╰──────────┴──────┬───┴────────┬─┴──────────┤  ├──────────┴──┬───────┴────┬─────┴──────────╯
                                 &trans       &trans          &trans        &trans
//                              ╰────────────┴────────────╯  ╰─────────────┴────────────╯
            >;
      };  // }}}
// ------------------------------------------------ FUNCTIONS LOCK ---------------------------------------------- {{{2
// NOTE: This is exactly the same as FUNCTIONS
        functions_lock {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &kp TAB    &kp F7     &kp F8     &kp F9     &kp F12      &kp C_VOL_UP &kp HOME  &kp UP     &kp PG_UP &kp C_BRI_UP
// ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp LSHFT &lhs LCTRL F4 &lhs LALT F5 &lhs LGUI F6 &kp F11 &kp C_VOL_DN &rhs RGUI LEFT &rhs RALT DOWN &rhs RCTRL RIGHT &rhs RSHFT C_BRI_DN
// ╰──────────┴──────────┴──────────┴──────────┴──────────┤  ├──────────┴──────────┴──────────┴──────────┴──────────╯
               &kp F1     &kp F2     &kp F3     &kp F10       &kp C_MUTE &kp END    &none      &kp PG_DN
//            ╰──────────┴──────┬───┴────────┬─┴──────────┤  ├──────────┴──┬───────┴────┬─────┴──────────╯
                                 &trans       &trans          &trans        &trans
//                              ╰────────────┴────────────╯  ╰─────────────┴────────────╯
            >;
      };  // }}}
// --------------------------------------------------- GUI/MISC ------------------------------------------------- {{{2
// |       |       |  M Up | Whl Up|  Accl2|          |       |       |       |       |       |
// |       |  M Lft|  M Dn |  M Rgt|  Accl1|          |       |       |       |       |       |
// |       |       |       | Whl Dn|  Accl0|          |       |       |       |       |       |
//                                 | LftBtn|          | RgtBtn|  ---- |
//
        gui_misc {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
  &bt BT_SEL 0 &bt BT_SEL 1 &none    &none      &none         &kp F3     WIN_PRV    WIN_BIG    WIN_NXT   &out OUT_TOG
// ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp CAPS   &kp LCTRL  &kp LALT   &kp LGUI   &none         &kp LS(F3) CD_WIN3LFT A_WIN_SML  CL_WIN3RGT &kp RSHIFT
// ╰──────────┴──────────┴──────────┴──────────┴──────────┤  ├──────────┴──────────┴──────────┴──────────┴──────────╯
               &caps_word &none      &none      &none         &kp LG(F3) WIN_LFT    WIN_CNT    WIN_RGT
//            ╰──────────┴──────┬───┴────────┬─┴──────────┤  ├──────────┴──┬───────┴────┬─────┴──────────╯
                                 &mkp RCLK    &mkp LCLK       &trans        &trans
//                              ╰────────────┴────────────╯  ╰─────────────┴────────────╯
             >;
      };  // }}}
// ------------------------------------------------ GUI/MISC LOCK ----------------------------------------------- {{{2
// |       |       |  M Up | Whl Up|  Accl2|          |       |       |       |       |       |
// |       |  M Lft|  M Dn |  M Rgt|  Accl1|          |       |       |       |       |       |
// |       |       |       | Whl Dn|  Accl0|          |       |       |       |       |       |
//                                 | LftBtn|          | RgtBtn|  ---- |
//
// NOTE: This is exactly the same as GUI/MISC
        gui_misc_lock {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
  &bt BT_SEL 0 &bt BT_SEL 1 &none    &none      &none         &kp F3     WIN_PRV    WIN_BIG    WIN_NXT   &out OUT_TOG
// ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp CAPS   &kp LCTRL  &kp LALT   &kp LGUI   &none         &kp LS(F3) CD_WIN3LFT A_WIN_SML  CL_WIN3RGT &kp RSHIFT
// ╰──────────┴──────────┴──────────┴──────────┴──────────┤  ├──────────┴──────────┴──────────┴──────────┴──────────╯
               &caps_word &none      &none      &none         &kp LG(F3) WIN_LFT    WIN_CNT    WIN_RGT
//            ╰──────────┴──────┬───┴────────┬─┴──────────┤  ├──────────┴──┬───────┴────┬─────┴──────────╯
                                 &mkp RCLK    &mkp LCLK       &trans        &trans
//                              ╰────────────┴────────────╯  ╰─────────────┴────────────╯
             >;
      }; // }}}
// ---------------------------------------------------- MACROS -------------------------------------------------- {{{2
// NOTE: I have the following mappings defined in vim:
//   ∆ -> \emph{}
//   “ -> \enquote{} -- defined in combos
//   ≥ -> \textbf{}
//   ß -> \textsc{}
//   ” -> ( ... ) [surround with parens] -- defined in combos
        macros {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    &none      &none      &none      &none      &none         &none      &none      &texclean  &none      &none
// ├──────────┼──────────┼──────────┼──────────┼──────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &none      &enew      &tdEmphEmail &none    &none         &none      &none      &tdTexTab  &tdName    &kp LA(S)
// ╰──────────┴──────────┴──────────┴──────────┴──────────┤  ├──────────┴──────────┴──────────┴──────────┴──────────╯
               &none      &none      &none      &none         &kp LA(DOT) &none     &none      &none
//            ╰──────────┴──────┬───┴────────┬─┴──────────┤  ├──────────┴──┬───────┴────┬─────┴──────────╯
                                 &none        &none           &none         &none
//                              ╰────────────┴────────────╯  ╰─────────────┴────────────╯
            >;
      };  // }}}
  };  // keymap }}}
};

// vim: fdm=marker ft=c
