# Copyright (c) 2022-24 Bennett Helm
# SPDX-License-Identifier: MIT

if SHIELD_ARISTOTLE32

config ZMK_KEYBOARD_NAME
    default "Aristotle 32'22t"

endif

if SHIELD_ARISTOTLE32_A

config ZMK_KEYBOARD_NAME
    default "Aristotle 32'22ta"

endif

if SHIELD_ARISTOTLE32_B

config ZMK_KEYBOARD_NAME
    default "Aristotle 32'22tb"

endif
