# Copyright (c) 2021 Bennett Helm
# SPDX-License-Identifier: MIT

config SHIELD_ARISTOTLE33
    def_bool $(shields_list_contains,aristotle33)

config SHIELD_ARISTOTLE33_A
    def_bool $(shields_list_contains,aristotle33_a)

config SHIELD_ARISTOTLE33_B
    def_bool $(shields_list_contains,aristotle33_b)

config ZMK_SPLIT
    default n
